<div class="life-calendar">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Current</th>
        <th>Remaining</th>
      </tr>
    </thead>
    <tr>
      <td> Percentage: </td> <td> {{format life.percentComplete type='percent'}} </td><td>{{format life.percentRemaining type='percent'}}</td>
    </tr>
    <tr>
      <td> Years: </td> <td> {{life.yearsComplete}} </td> <td> {{life.yearsRemaining}} </td>
    </tr>
    <tr>
      <td> Months: </td> <td> {{life.monthsComplete}} </td> <td> {{life.monthsRemaining}} </td>
    </tr>
    <tr>
      <td> Days: </td> <td> {{life.daysComplete}} </td> <td> {{life.daysRemaining}} </td>
    </tr>
  </table>
  {{#each life.years as |year|}}
    <div class="year">
      <div class="label">
      {{#if year.label}}
        {{year.label}}
        {{else}}
          &nbsp;
        {{/if}}
      </div>
      {{#each year.months as |month|}}
        <div class="month {{month.classes}}" {{action 'expandMonth' year month on="click"}}>
          {{month.events.length}}
        </div>
      {{/each}}
    </div>
    {{#if year.currentMonth}}
      <div class="expanded">
        {{#each year.currentMonth.events as |event|}}
          <li>
            {{format event.date type='date'}}
            {{event.text}}
          </li>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</div>
