<div class="post">
  <h1 class="title">{{link-to 'dean is' 'home'}} {{model.titlePrefix}}</h1>
  <h2 class="center">{{model.title}}</h2>
  Written {{model.date}}
  {{markdown-to-html model.content}}
</div>
